<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <!--<ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>-->
  <h1>Top Rated Communities</h1>
  <ion-card>
    
    <img src="../assets/img/ica-slidebox-img-2.png"/ >
    
        <ion-card-content>
          <ion-card-title>
            Ionic
          </ion-card-title>
          <p>
            <!--Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...-->
          </p>
        </ion-card-content>

        <button ion-button block >Join Now</button>
    
      </ion-card>
</ion-content>